{% extends 'base.html.twig' %}

{% block title %}{{ burger.name }} - CRUDcroustillant{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ burger.name }}</h1>
        <p><strong>Description :</strong> {{ burger.description }}</p>
        <p><em>ID du burger : {{ burger.id }}</em></p>
        <hr>
        <a href="{{ path('app_burger_list') }}">Retour à la liste des burgers</a>
    </div>
{% endblock %}