<header>
    <nav>
        <a href="{{ path('app_home') }}">Accueil</a>
        <a href="{{ path('app_burger_list') }}">Nos Burgers</a>
        <a href="{{ path('app_burger_search') }}">Recherche</a>
        <a href="{{ path('pain_index') }}">Pains</a>
        <a href="{{ path('oignon_index') }}">Oignons</a>
        <a href="{{ path('sauce_index') }}">Sauces</a>
    </nav>
</header>